
<%- include('head'); -%>

<%- include('nav'); -%>

<div class="container my-5">

  <!-- Section: Block Content -->
  <section>

    <style>
      .my-custom-scrollbar {
        position: relative;
        height: 250px;
        overflow: auto;
      }
      .card-img-35 {
        width: 35px;
      }
      .mt-3p {
        margin-top: 3px;
      }
    </style>

    <div class="card">
      <div class="card-header white d-flex justify-content-between">
        <p class="h5-responsive font-weight-bold mb-0">Direct Chat</p>
        <ul class="list-unstyled d-flex align-items-center mb-0">
          <li><span class="badge badge-pill badge-primary">3</span></li>
          <li><i class="far fa-window-minimize fa-sm pl-3"></i></li>
          <li><i class="fas fa-comments fa-sm pl-3"></i></li>
          <li><i class="fas fa-times fa-sm pl-3"></i></li>
        </ul>
      </div>

      <div class="card-body my-custom-scrollbar">

      <form id="form" class="" action="/chat" method="post">

        <ul id="msgs">
        <% if(firstMsg){ %>
          <li>
            <span><%=otherUser.local.firstname%></span>
            <span><%=firstMsg%></span></li>
        <%}%>
        </ul>

      <div class="card-footer white py-3">
        <div class="form-group mb-0">

          <!--TEXT AREA TO SEND MSG--->
          <textarea id="chatMsg" type="text" class="form-control rounded-0" id="exampleFormControlTextarea1" rows="1" placeholder="Type message..."></textarea>
          <div class="text-right pt-2">

            <!--SEND BUTTON-->
            <button class="btn btn-primary btn-sm mb-0 mr-0" id="submitButton" type="button" name="button">Send</button>
          </div>
        </div>
      </div>
     </form>
    </div>
    </div>

  </section>
  <!-- Section: Block Content -->

</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<script>
  var socket = io();
</script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>

<!-- <script type="text/javascript">
if("<%=firstMsg%>"){
$('#messages').append($('<li>').text("<%= otherUserId %>" + ": "+ "<%=firstMsg%>"));
}
</script> -->
<script>
document.getElementById('submitButton').addEventListener('click',
      function (e){
        e.preventDefault(); // prevents page reloading
      const msg = {
        msg: document.getElementById('chatMsg').value,
        to: "<%= otherUserId %>",
        from: "<%= user._id %>"
      }
      console.log("sending Msg", msg)

      socket.emit('chat message', JSON.stringify(msg));
      document.getElementById('chatMsg').value='';
      return false;
    });
    socket.on('chat message', function(msg){
      const jsonMsg = JSON.parse(msg)
      if(jsonMsg.to === "<%= user._id %>"){

      var ul = document.getElementById("msgs");
      var li = document.createElement("li");
        li.appendChild(document.createTextNode("<%=otherUser.local.firstname%>" + " " + jsonMsg.msg));
        ul.appendChild(li);

      }
      if(jsonMsg.from === "<%= user._id %>"){

      var ul = document.getElementById("msgs");
      var li = document.createElement("li");
        li.appendChild(document.createTextNode("<%=user.local.firstname%>" + " " + jsonMsg.msg));
        ul.appendChild(li);

      }
    })

</script>





<!-- <script src="main.js"></script> -->

<%- include('footer'); -%>
