<%- include('head'); -%>

<%- include('nav'); -%>





    <div class="container my-5 py-5 z-depth-1">

      <% for(var i=0;i <orgUploads.length; i++) {%>
      <!--Section: Content-->
      <section class="text-center px-md-5 mx-md-5 dark-grey-text">

        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
          <div class="col-lg-6 mb-lg-0 mb-md-4">

            <!--Image-->
            <div class="view overlay z-depth-1-half">
              <img src="../<%= orgUploads[i].fileupload %>" class="img-fluid"
                alt="">
              <a href="#">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-6 ">

            <h3 class="font-weight-bold"><%= orgUploads[i].name %></h3>

            <p class="text-muted"><%= orgUploads[i].desc %></p>

            <a class="btn btn-info btn-md waves-effect" href="#" role="button">Download<i
                class="fa fa-download ml-1"></i></a>

          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

      </section>
      <!--Section: Content-->
        <% } %>


        <% if (user.local.organization) { %>
          <div class="title" id="formUp">

        				<h2>Create A Post</h2>

                <!-- <%= typeof msg != 'undefined'? msg: ''%> -->
              <form class="uploadForm" action="/forms" method="post" enctype="multipart/form-data">
                    <input type="text" name="name" value=""></input>
                    <!-- <input type="file" name="fileupload"></input> -->

              <!-- -------UPLOAD INPUT ----------------->
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                      </div>
                      <div class="custom-file">
                        <input name="fileupload" type="file" class="custom-file-input" id="inputGroupFile01"
                        aria-describedby="inputGroupFileAddon01">
                      <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                    </div>
                  </div>

                    <div class="form-group purple-border">
                      <label for="exampleFormControlTextarea4">Colorful border</label>
                      <textarea name="desc" class="form-control" id="exampleFormControlTextarea4" rows="3"></textarea>
                    </div>

                    <button type="submit" name="" value="upload">Submit</button>
                  </form>
        				</div>

          <% } %>


    </div>









<%- include('footer'); -%>
