<!doctype html>
<html>
<head>
    <title>Radical</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body id="main">
 <div class="container-fluid">
<h1>Resources</h1>
    <!--Navbar -->
    <nav>
      <a href="/profile">Home</a>
      <a href="/resources">Resources</a>
      <a href="/updates">Updates</a>
      <a href="/contact">Contact</a>
      <form class="search" action="index.html" method="post">
        <input type="text" name="" value="">
        <button type="button" name="button">Search</button>

      </form>

      <section>
          <a href="/logout" class="btn btn-default btn-sm">Logout</a>
      </section>
    </nav>
  <!--/.Navbar -->


    <div class="row">

         <!-- LOCAL INFORMATION
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div> -->
      <div  id="hold" class="col-sm-6">
          <h3>Messages</h3>
          <ul class="messages">
          <% for(var i=0; i<messages.length; i++) {%>
            <li class="message">
              <span><%= messages[i].name %></span>
              <span><%= messages[i].msg %></span>
              <span><%= messages[i].thumbUp %></span>
              <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
              <span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span>
              <span><i class="fa fa-trash" aria-hidden="true"></i></span>
            </li>
          <% } %>
          </ul>

          <h2>Add a message</h2>
        <% if (user.local.email) { %>
          <form action="/messages" method="POST">
            <input type="text" value="<%= user.local.email %>" name="name">
            <input type="text" placeholder="message" name="msg">
            <button type="submit">Submit</button>
          </form>
        </div>
        <% } %>

    <section class="resource">
          <h1>Organizations</h1>
        <section class="one"></section>
        <section class="two"></section>
        <section class="three"></section>
        <section class="four"></section>
    </section>

    </div>
</div>

<script src="main.js"></script>

</body>
</html>
