<%- include('head'); -%>

<%- include('nav'); -%>




         <!-- LOCAL INFORMATION
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div> -->

    <!-- <section class="resources">
          <h1>Organizations</h1>



  <section class="resource">
    <h4>Suffolk Law School - Immigration Law Clinic</h4>
    <p>
Areas of legal assistance:	Adjustment of Status, Asylum applications, Deferred Action for Childhood Arrivals (DACA), Employment authorization, Family-based petitions, Habeas Corpus, NACARA, Naturalization/Citizenship, Removal hearings, Special Immigrant Juvenile Status, Temporary Protected Status (TPS), U visas
<br>
Types of legal assistance:	Help completing forms, Filings with USCIS, Representation at Asylum Interviews (Credible Fear Interviews, Reasonable Fear Interviews), Representation before the Immigration Court, Representation before the Board of Immigration Appeals (BIA), Federal court appeals
<br>
Location:	120 Tremont St, Suite 150, Boston, MA 02108
<br>
<!-- Contact:(617) 573-8644, <a href="https://www.suffolk.edu/law/academics-clinics/clinics-experiential-opportunities/clinics/immigration">https://www.suffolk.edu/law/academics-clinics/clinics-experiential-opportunities/clinics/immigration</a></p>
  </section> -->






<div class="container z-depth-1 my-5 py-5">


  <section>

    <style>
      .border-top {
        border-top-width: 2px !important;
      }
  	</style>


  <section>

    <h3 class="font-weight-bold text-center dark-grey-text pb-2">Our Services</h3>
    <hr class="w-header my-4">
    <p class="lead text-center text-muted pt-2 mb-5">Need assistance? Find the organization that fits your needs and receive support! </p>

    <div class="row d-flex justify-content-center">

      <div class="col-md-6 col-xl-4">
        <h5 class="font-weight-normal"><a class="dark-grey-text" href="http://www.agenciaalpha.org">Agencia ALPHA</a></h5>
        <p class="small grey-text">Location: 62 Northampton St, Suite H101,<br> Boston, MA 02118 <br>Contact:(617) 522-6382</p>
      </div>

      <div class="col-md-6">
        <p class="text-muted mb-5 pb-2">Areas of legal assistance:	Asylum applications, Deferred Action for Childhood Arrivals (DACA), Removal hearings, Special Immigrant Juvenile Status, Temporary Protected Status (TPS), U visas, Violence Against Women Act (VAWA) petitions<br>Types of legal assistance:	Help completing forms, Filings with USCIS</p>

      </div>

      <div class="col-md-6 col-xl-4">
        <h5 class="font-weight-normal"><a class="dark-grey-text" href="http://dominicandevelopmentcenter.org">Dominican Development Center</a></h5>
        <p class="small grey-text">Location: 42 Seaverns Ave,<br> Boston, MA 02130 <br>Contact:( 617) 524-4029</p>
      </div>

      <div class="col-md-6">
        <p class="text-muted mb-5 pb-2">Areas of legal assistance:	Employment authorization, Employment-based immigrant and non-immigrant petitions, Naturalization/Citizenship, Violence Against Women Act (VAWA) petitions<br>Types of legal assistance:	Help completing forms, Filings with USCIS</p>

      </div>

      <div class="col-md-6 col-xl-4">
        <h5 class="font-weight-normal"><a class="dark-grey-text" href="http://dominicandevelopmentcenter.org">Harvard University Law School - Immigration and Refugee Clinic</a></h5>
        <p class="small grey-text">Location: 6 Everett St, Suite 3103,<br>Cambridge, MA 02138<br>Contact:(617) 384-8165 <br>hirc@law.harvard.edu</p>
      </div>

      <div class="col-md-6">
        <p class="text-muted mb-5 pb-2">Areas of legal assistance:	Employment authorization, Employment-based immigrant and non-immigrant petitions, Naturalization/Citizenship, Violence Against Women Act (VAWA) petitions<br>Types of legal assistance:	Representation at Asylum Interviews (Credible Fear Interviews, Reasonable Fear Interviews), Representation before the Immigration Court, Representation before the Board of Immigration Appeals (BIA), Federal court appeals</p>

      </div>

      <div class="col-md-6 col-xl-4">
        <h5 class="font-weight-normal"><a class="dark-grey-text" href="http://www.pairproject.org">Political Asylum / Immigration Representation Project</a></h5>
        <p class="small grey-text">Location: 98 North Washington Street, Suite 106,<br> Boston, MA 02114<br>Contact:(617) 742-9296<br>
        asharma@pairproject.org</p>
      </div>

      <div class="col-md-6">
        <p class="text-muted mb-5 pb-2">Areas of legal assistance:	Adjustment of Status, Asylum applications, Deferred Action for Childhood Arrivals (DACA), Employment authorization, Habeas Corpus, NACARA, Removal hearings, Special Immigrant Juvenile Status, Temporary Protected Status (TPS), U visas, Violence Against Women Act (VAWA) petitions<br>Types of legal assistance:	Filings with USCIS, Representation at Asylum Interviews (Credible Fear Interviews, Reasonable Fear Interviews), Representation before the Immigration Court, Representation before the Board of Immigration Appeals (BIA), Federal court appeals</p>

      </div>

      <div class="col-md-6 col-xl-4">
        <h5 class="font-weight-normal"><a class="dark-grey-text" href="http://www.victimrights.org">Victim Rights Law Center</a></h5>
        <p class="small grey-text">Location: 115 Broad Street, 3rd Floor,<br> Boston, MA 02110<br>
        Contact: (617) 399-6720 ext. 19 <br>legalhelp@victimrights.org</p>
      </div>

      <div class="col-md-6">
        <p class="text-muted mb-5 pb-2">Areas of legal assistance:	Adjustment of Status, Asylum applications, Deferred Action for Childhood Arrivals (DACA), Employment authorization, Family-based petitions, Naturalization/Citizenship, Removal hearings, T visas, Temporary Protected Status (TPS), U visas, Violence Against Women Act (VAWA) petitions <br>Types of legal assistance:	Help completing forms, Filings with USCIS, Representation before the Immigration Court</p>

      </div>

    </div>

  </section>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<script>

        var socket = io();
        socket.on('chat message', function (msg) {
          const jsonMsg = JSON.parse(msg)
          if (jsonMsg.to === "<%= user.local._id %>" ) {
            var answer = confirm ("You have a chat request from " + jsonMsg.from + ", would you like to connect?")
            if(answer){
            window.location.href = "/chat?otherUserId=" + jsonMsg.from + "&firstMsg=" + jsonMsg.msg
          }
          }
        });

    </script>





<%- include('footer'); -%>
